conf/xml/tmp/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="orders">
<xs:complexType>
<xs:sequence>
<xs:element name="order" type="orderType" />
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="orderType">
<xs:attribute name="value" type="xs:string" />
</xs:complexType>
</xs:schema>